// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 100em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.product-item {

    a {
        color: initial;
        text-decoration: none;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    .product-item-image {
        background-size: cover;
        background-position: 50%;
        height: 150px;
        position: relative;

        img {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            opacity: 0;
        }
    }

    .product-item-name {
        font-size: 18px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: inherit;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .product-item-price {
        font-weight: 700;
        color: $primary;
    }

    .product-item-desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: inherit;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    &:hover {
        .product-item-name {
            color: $primary;
        }
    }
}

table {
    td {
        img {
            height: 50px;
            max-width: 100px;
        }
    }
}
